.today {

color: darkred;

}

.tomorrow {

color: darkblue;

}

.removeunderline {

text-decoration:none

}

.seagreencolor {

color: seagreen;

}

p {

font-size: 20px;

}

html {

font-family: Arial;

}